 <!--footer -->
 <footer>
    <section class="footer footer_w3layouts_section_1its py-5">
        <div class="container py-md-4">
        <div class="footer-grid_section text-center" data-aos="zoom-in">
                    <div class="footer-title mb-3">
                        <a href="#"><img src="/images/logo.png">Defarm</a>
                    </div>
                    <div class="footer-text">
                        <p>kjfsgsn fngmsdfhmbsndfg sfdng msmdfgnsdfg sdfn gsdmnfg sdmnfg sdmnfg sdmnf g.</p>
                    </div>
                    <ul class="social_section_1info">
                        <li class="mb-2 facebook"><a href="#"><i class="fab mr-1 fa-facebook-f"></i>facebook</a></li>
                        <li class="mb-2 twitter"><a href="#"><i class="fab mr-1 fa-twitter"></i>twitter</a></li>
                        <li class="google"><a href="#"><i class="fab mr-1 fa-google-plus-g"></i>google</a></li>
                        <li class="linkedin"><a href="https://www.linkedin.com/in/bikrant-bikram-pratap-maurya-a07418185?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B4EMY4smTS3yFXr223GNfdQ%3D%3D"><i class="fab mr-1 fa-linkedin-in"></i>linkedin</a></li>
                    </ul>
                </div>
                
            <div class="row footer-top mt-md-5 mt-4">
                <div class="col-lg-4 col-md-6 footer-grid_section_1its_w3" data-aos="fade-right">
                    <div class="footer-title">
                        <h3>Address</h3>
                    </div>
                    <div class="footer-text">
                        <p>Address : 197/2A saket nagar </p>
                        <p>Phone : +91 1234567890</p>
                        <p>Email : <a href="mailto:abhishekinfinite786@gmail.com">abhishekinfinite786@gmail.com</a></p>
                        <p>Fax : hmare paas available nhi hai</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4 footer-grid_section_1its_w3" data-aos="fade-up">
                    <div class="footer-title">
                        <h3>Quick Links</h3>
                    </div>
                    <div class="row">
                        <ul class="col-6 links">
                            <li><a href="dashboard">DashBoard </a></li>
                            <li><a href="buyandshell" > Buy/Shell</a></li>
                            <li><a href="prediction" >Prediction</a></li>
                            <li><a href="historical" > Historical</a></li>
                            <li><a href="contactus" >Contact </a></li>
                        </ul>
                        <ul class="col-6 links">
                            <li><a href="#">Privacy Policy </a></li>
                            <li><a href="#">General Terms </a></li>
                            <li><a href="#faq" class="scroll">Faq's </a></li>
                            <li><a href="#">Knowledge </a></li>
                            <li><a href="#">Forum </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mt-lg-0 mt-4 col-sm-12 footer-grid_section_1its_w3" data-aos="fade-left">
                    <div class="footer-title">
                        <h3>Newsletter</h3>
                    </div>
                    <div class="footer-text">
                        <p>By subscribing to our mailing list you will always get latest news and updates from us.</p>
                        <form action="#" method="post">
                            <input type="email" name="Email" placeholder="Enter your email..." required="">
                            <button class="btn1"><i class="fas fa-paper-plane" aria-hidden="true"></i></button>
                            <div class="clearfix"> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </footer>
    <!-- sticky nav bar-->
	  <!-- js -->
    <script src="/js/jquery-2.2.3.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <!-- //js -->
	
	<!-- animation js -->
	<script src='/js/aos.js'></script>
	<script>
		AOS.init({
            easing: 'ease-out-back',
            duration: 1000
        });

    </script>
	<!-- //animation js -->

	<!-- testimonials  Responsiveslides -->
    <script src="/js/responsiveslides.min.js"></script>
    <script>
        // You can also use"$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- //testimonials  Responsiveslides -->

	<!-- sticky nav bar-->
	<script>
		$(() => {

		  //On Scroll Functionality
		  $(window).scroll(() => {
			var windowTop = $(window).scrollTop();
			windowTop > 100 ? $('nav').addClass('navShadow') : $('nav').removeClass('navShadow');
			windowTop > 100 ? $('ul.nav-agile').css('top', '50px') : $('ul.nav-agile').css('top', '160px');
		  });

		  //Click Logo To Scroll To Top
		  $('#logo').on('click', () => {
			$('html,body').animate({
			  scrollTop: 0
			}, 500);
		  });

		 /*
		  //Smooth Scrolling Using Navigation Menu
		  $('a[href*="#"]').on('click', function (e) {
			$('html,body').animate({
			  scrollTop: $($(this).attr('href')).offset().top - 100
			}, 500);
			e.preventDefault();
		  });
		 */

		  //Toggle Menu
		  $('#menu-toggle').on('click', () => {
			$('#menu-toggle').toggleClass('closeMenu');
			$('ul').toggleClass('showMenu');

			$('li').on('click', () => {
			  $('ul').removeClass('showMenu');
			  $('#menu-toggle').removeClass('closeMenu');
			});
		  });

		});
	</script>
	<!-- //sticky nav bar -->

	<script src="/js/smoothscroll.js"></script><!-- Smooth scrolling -->

    <!-- start-smoth-scrolling -->
    <script src="/js/move-top.js"></script>
    <script src="/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            /*
			var defaults = {
				  containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			 };
			*/

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //end-smoth-scrolling -->

</body>
</html>