
        
    </head>
    <body>


   
        <div class="col-lg-4" style="border: solid rgb(41, 90, 1) 2px; margin-top: 3px; background-color: rgb(23, 49, 1);" data-aos="fade-left">
            <img src="<%= fname%>" style="width: auto;height: auto;padding:2px;border: solid black 2px;">
            <p><%=title[i]%></p>
        </div>
        <div class="col-lg-4" style="border: solid rgb(41, 90, 1) 2px; margin-top: 3px; background-color: rgb(23, 49, 1);" data-aos="fade-up">
            <img src="<%= sname%>"  style="width: auto;height: auto;padding:2px;border: solid black 2px;">
            <p><%=title[i]%></p>
        </div>
        <div class="col-lg-4" style="border: solid rgb(41, 90, 1) 2px; margin-top: 3px; background-color: rgb(23, 49, 1);" data-aos="fade-right">
            <img src="<%= tname%>" style="width: auto;height: auto;padding:2px;border: solid black 2px; ">
            <p><%=title[i]%></p>
         </div>
        </div>
        <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script type="text/javascript">
            window.onload = function () {
                var chart = new CanvasJS.Chart("chartContainer");
            
                chart.options.axisY = { prefix: "$", suffix: "K", includeZero: false };
                chart.options.title = { text: "Average price " };
            
                var series1 = { //dataSeries - first quarter
                    type: "column",
                    name: "2018",
                    showInLegend: true
                };
            
                var series2 = { //dataSeries - second quarter
                    type: "column",
                    name: "2019",
                    showInLegend: true
                };
                var series3 = { //dataSeries - second quarter
                    type: "column",
                    name: "2020",
                    showInLegend: true
                };
            
                chart.options.data = [];
                chart.options.data.push(series1);
                chart.options.data.push(series2);
                chart.options.data.push(series3);
            
            
                series1.dataPoints = [
                        { label: "banana", y: 58 },
                        { label: "orange", y: 69 },
                        { label: "apple", y: 80 },
                        { label: "mango", y: 74 },
                        { label: "grape", y: 64 }
                ];
            
                series2.dataPoints = [
                    { label: "banana", y: 63 },
                    { label: "orange", y: 73 },
                    { label: "apple", y: 88 },
                    { label: "mango", y: 77 },
                    { label: "grape", y: 60 }
                ];
                series3.dataPoints = [
                    { label: "banana", y: 60 },
                    { label: "orange", y: 20 },
                    { label: "apple", y: 20 },
                    { label: "mango", y: 70 },
                    { label: "grape", y: 50 }
                ];
            
                chart.render();
            }
            </script>
    